body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: bold;
  color: #E23744; /* brand red */
    letter-spacing: 0.5px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px 12px;
    width: 500px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    flex: 1;
}

.divider {
    color: #ccc;
    margin: 0 10px;
}

.nav-right a {
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 12px;
    color: #b10e0ed1;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.2s;
}

.nav-right a:hover {
    color: #E23744;
}

.category-bar {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.category {
    text-align: center;
    color: #555;
    cursor: pointer;
}

.category img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 5px;
}

.category.active span {
    color: #c71827;
    font-weight: bold;
}

.category.active {
    border-bottom: 2px solid #E23744;
    padding-bottom: 8px;
}


.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #222;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 20px;
}

/* Restaurant Card */
.restaurant-card {
    cursor: pointer;
    transition: 0.2s ease;
}

.restaurant-card:hover {
    transform: translateY(-4px);
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-tag {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: #0065FF;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 600;
}

.offer-tag.blue {
    background: #0047d1;
}

/* Text Section */
.res-name {
    margin: 10px 0 5px;
    font-size: 20px;
    font-weight: 600;
    color: #222;
}

.res-desc {
    color: #666;
    font-size: 15px;
    margin-bottom: 8px;
}

/* Price + Rating Row */
.res-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 15px;
    color: #333;
}

.rating {
    background: #48c774;
    padding: 4px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

/* Time */
.time {
    display: block;
    margin-top: 6px;
    color: #666;
    font-size: 15px;
}

/* Responsive */
@media (max-width: 900px) {
    .restaurant-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .restaurant-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .img-wrapper {
        height: 200px;
    }
}

@media (max-width: 768px) {

  /* Navbar */
.navbar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 20px;
}

.nav-left {
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.search-bar {
    width: 100%;
}

.nav-right {
    display: flex;
    gap: 20px;
}
}

@media (max-width: 1024px) {

  .navbar {
    padding: 15px 30px;
  }

  .search-bar {
    width: 350px;
  }
}

@media (max-width: 480px) {

  /* Navbar */
  .logo {
    font-size: 22px;
  }

  .search-bar {
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }

  .divider {
    display: none;
  }
}